{% extends '../../templates/template.html.twig' %}
{% block body %}
<table class="table">
    {% for note in notes %}
        <tr>
            <td>{{ note }}</td> <!-- Correction: ajout du signe '>' après '{{ note }}' -->
        </tr>
    {% endfor %}
</table>
<div class="alert alert-info">
    <p>Le nombre des notes : {{ notes | length }}</p>
    <p>La note minimale est : {{ min(notes) }}</p> <!-- Correction: ajout du signe '>' après '{{ min(notes) }}' -->
    <p>La note maximale est : {{ max(notes) }}</p> <!-- Correction: ajout du signe '>' après '{{ max(notes) }}' -->
</div>
{% endblock %}