{% extends 'template.html.twig' %}
{% block title%}
    {{ name }} {{ firstname }}
{% endblock %}
{% block body %}
    <h1>well love {{ name }} {{ firstname }}</h1>
    <p>bonjour je suis developpeur application web</p>
    <p>mon url absolu est : {{ url('first') }}</p>

{% endblock %}